// Imports
@import '../govuk_frontend_toolkit/stylesheets/_colours';
@import '../govuk_frontend_toolkit/stylesheets/_css3';
@import '../govuk_frontend_toolkit/stylesheets/_typography';

// vars

$scale: 0.30729166666667;

$screen-1920: "screen and (min-width: 1920px)";
$unit-width-1920: 1920px;
$lh-gutter-1920: round($unit-width-1920 * $scale);

$screen-1280: "screen and (min-width: 1280px)";
$unit-width-1280: 1280px;
$lh-gutter-1280: round($unit-width-1280 * $scale);

$screen-1024: "screen and (min-width: 1024px)";
$unit-width-1024: 1024px;
$lh-gutter-1024: round($unit-width-1024 * $scale);



$portrait: "(orientation: portrait)";
$landscape: "(orientation: landscape)";


html {
  height: 100%;
}

// let's namespace
.presentation-view {

  // hide body overflow
  &.js-enabled {
    overflow: hidden;
  }

  // General

  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: $NTA-Light;
  font-weight: 700;
  line-height: 1.11111111111111;
  text-transform: none;
  color: $white;

  background-color: $govuk-blue;

  @media #{$screen-1024} {
    font-size: 114%;
  }
  @media #{$screen-1280} {
    font-size: 160%;
  }
  @media #{$screen-1920} {
    font-size: 225%;
  }

  a {
    color: $white;
    text-decoration: none;

    // crazy underlines!
    background-image: -moz-linear-gradient(top,#fff 75%,#333332 75%);
    background-image: -webkit-linear-gradient(top,#fff 75%,#333332 75%);
    background-image: -o-linear-gradient(top,#fff 75%,#333332 75%);
    background-image: linear-gradient(to bottom, $govuk-blue 75%, $white 75%);
    background-repeat: repeat-x;

    background-size: 2px 2px;
    background-position: 0 37px;
  }

  .container {
    display: block; // opera
    height: 100%;
  }

  // ---------------------------------------------------------------------------

  // constant header area
  .unit-header {
    position: absolute;
    top: 5.925925925926%;
    @media #{$screen-1024} {
      left: $lh-gutter-1024;
    }
    @media #{$screen-1280} {
      left: $lh-gutter-1280;
    }
    @media #{$screen-1920} {
      left: $lh-gutter-1920;
    }
  }

  .unit-header--heading {
    margin: 0;
    font-size: 1.66666666666667em;
  }

  // ---------------------------------------------------------------------------

  // constant footer area

  .performance-strap {
    position: absolute;
    bottom: 4.62962962963%;
    margin: 0;
    @media #{$screen-1024} {
      left: $lh-gutter-1024;
    }
    @media #{$screen-1280} {
      left: $lh-gutter-1280;
    }
    @media #{$screen-1920} {
      left: $lh-gutter-1920;
    }
  }

  // ---------------------------------------------------------------------------

  // slide container

  #units {

    position: relative;
    top: 50%;

    width: 100%;
    margin-left: 0;

    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);

    transition: margin-left 1s ease-in-out;
  }

  // ---------------------------------------------------------------------------

  // unit items

  .unit-data {
    @include box-sizing(border-box);

    display: table-cell;
    vertical-align: top;
    margin: 0;

    @media #{$screen-1024} {
      min-width: $unit-width-1024;
      padding-left: $lh-gutter-1024;
    }
    @media #{$screen-1280} {
      min-width: $unit-width-1280;
      padding-left: $lh-gutter-1280;
    }
    @media #{$screen-1920} {
      min-width: $unit-width-1920;
      padding-left: $lh-gutter-1920;
    }
  }

    .unit-data--focal {
      font-size: 11.11111111111111em;
      line-height: 1;
      letter-spacing: -0.025em;
    }

    .unit-data--caption {
      font-size: 2.77777777777778em;
    }

    .unit-data--focal + .unit-data--caption {
      margin-top: -40px;
    }

    .unit-data--caption:first-child {
      margin-top: 18px;
    }

  // ---------------------------------------------------------------------------

  // Flags

  .flag {
    position: relative;
    left: -30px;
    display: inline-block;
    padding: 0 30px;
    background-color: transparent;
  }

  // tinted increase levels
  .increase-level-3 {
    background-color: rgba(0,205,65,0.65);
  }
  .increase-level-4 {
    background-color: rgb(0,205,65);
  }

  // tinted decrease levels
  .decrease-level-3 {
    background-color: rgba(220,50,50,0.75);
  }
  .decrease-level-4 {
    background-color: rgb(220,50,50);
  }

  // outdated data
  .outdated-level-1 {
    background-color: rgba(0,0,0,0.5);
  }
  .outdated-level-2 {
    background-color: rgb(0,0,0);
  }

  .loud {
    text-transform: uppercase;
  }

  // ---------------------------------------------------------------------------

  // Imagery

  [class*='icon-'] {
    background-repeat: no-repeat;
  }
  .icon-completion {
    background-image: url(../images/icon-completion.svg);

    @media #{$screen-1024} {
      background-size: round(194px * 0.5) round(410px * 0.5);
      background-position: round(211px * 0.71) 0;
    }
    @media #{$screen-1280} {
      background-size: round(194px * 0.71) round(410px * 0.71);
      background-position: round(211px * 0.71) 0;
    }
    @media #{$screen-1920} {
      background-size: 194px 410px;
      background-position: 211px 0;
    }
  }
  .icon-loadtime {
    background-image: url(../images/icon-loadtime.svg);

    @media #{$screen-1024} {
      background-size: round(290px * 0.5) round(330px * 0.5);
      background-position: round(155px * 0.5) 0;
    }
    @media #{$screen-1280} {
      background-size: round(290px * 0.71) round(330px * 0.71);
      background-position: round(155px * 0.71) 0;
    }
    @media #{$screen-1920} {
      background-size: 290px 330px;
      background-position: 155px 0;
    }
  }
  .icon-renewals {
    background-image: url(../images/icon-renewals.svg);

    @media #{$screen-1024} {
      background-size: round(315px * 0.5) round(316px * 0.5);
      background-position: round(139px * 0.5) round(15px * 0.5);
    }
    @media #{$screen-1280} {
      background-size: round(315px * 0.71) round(316px * 0.71);
      background-position: round(139px * 0.71) round(15px * 0.71);
    }
    @media #{$screen-1920} {
      background-size: 315px 316px;
      background-position: 139px 15px;
    }
  }
  .icon-satisfaction {
    background-image: url(../images/icon-satisfaction.svg);

    @media #{$screen-1024} {
      background-size: round(421px * 0.5) round(200px * 0.5);
      background-position: round(87px * 0.5) round(70px * 0.5);
    }
    @media #{$screen-1280} {
      background-size: round(421px * 0.71) round(200px * 0.71);
      background-position: round(87px * 0.71) round(70px * 0.71);
    }
    @media #{$screen-1920} {
      background-size: 421px 200px;
      background-position: 87px 70px;
    }
  }
  .icon-service {
    background-image: url(../images/icon-service.svg);

    @media #{$screen-1024} {
      background-size: round(255px * 0.5) round(285px * 0.5);
      background-position: round(172px * 0.5) round(160px * 0.5);
    }
    @media #{$screen-1280} {
      background-size: round(255px * 0.71) round(285px * 0.71);
      background-position: round(172px * 0.71) round(160px * 0.71);
    }
    @media #{$screen-1920} {
      background-size: 255px 285px;
      background-position: 172px 160px;
    }
  }
  .icon-touch-horizontal {
    background-image: url(../images/icon-touch-horizontal.svg);

    @media #{$screen-1024} {
      background-size: round(330px * 0.5) round(280px * 0.5);
      background-position: round(128px * 0.5) round(70px * 0.5);
    }
    @media #{$screen-1280} {
      background-size: round(330px * 0.71) round(280px * 0.71);
      background-position: round(128px * 0.71) round(70px * 0.71);
    }
    @media #{$screen-1920} {
      background-size: 330px 280px;
      background-position: 128px 70px;
    }
  }
  .icon-touch-vertical {
    background-image: url(../images/icon-touch-vertical.svg);

    @media #{$screen-1024} {
      background-size: round(255px * 0.5) round(416px * 0.5);
      background-position: round(180px * 0.5) 0;
    }
    @media #{$screen-1280} {
      background-size: round(255px * 0.71) round(416px * 0.71);
      background-position: round(180px * 0.71) 0;
    }
    @media #{$screen-1920} {
      background-size: 255px 416px;
      background-position: 180px 0;
    }
  }
  .icon-uptime {
    background-image: url(../images/icon-uptime.svg);

    @media #{$screen-1024} {
      background-size: round(360px * 0.5) round(292px * 0.5);
      background-position: round(120px * 0.5) round(50px * 0.5);
    }
    @media #{$screen-1280} {
      background-size: round(360px * 0.71) round(292px * 0.71);
      background-position: round(120px * 0.71) round(50px * 0.71);
    }
    @media #{$screen-1920} {
      background-size: 360px 292px;
      background-position: 120px 50px;
    }
  }
  .icon-users {
    background-image: url(../images/icon-users.svg);

    @media #{$screen-1024} {
      background-size: round(304px * 0.5) round(286px * 0.5);
      background-position: round(145px * 0.5) round(30px * 0.5);
    }
    @media #{$screen-1280} {
      background-size: round(304px * 0.71) round(286px * 0.71);
      background-position: round(145px * 0.71) round(30px * 0.71);
    }
    @media #{$screen-1920} {
      background-size: 304px 286px;
      background-position: 145px 30px;
    }
  }

}
